h1 {
    text-align:center;
}
section{
    text-align: center;
}
.mainSection{
    width: 30%;
margin-left: 35%;  
}
.categoryBtn{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.categoryBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.categoryBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.categoryBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


  
  .mainSection> div {
    color: #fff;
    background: #2d2d2d;
    padding: 12px;
  }
.dataDiv{
    display: flex;
    justify-content: space-between ;
    margin-top: 20px;
    border-radius: 7px;

}
.iconClassMain{
    height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

}
.iconStyle{
    width: fit-content;
    display: inline-block;
}
.iconStyle::first-letter {
    
    font-size: 200%;
    color: #8A2BE2;
  }
  .categoryPara{
    height: 20px;
    width: 80px;
    background-color: #8A2BE2;
    border-radius: 7px;
  }
